<h3>FourM-mvp</h3>

<%= form_tag searches_path, method: "post" do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search, params[:search], :placeholder => "Search for username" %>
  <%= submit_tag("Search") %>
<% end %>

<% @store.each do |store| %>
  <h1> * <%= link_to store.username, store %></h1> <br>
<% end %>
